In [1]:
from sklearn.datasets import fetch_california_housing
from sklearn.datasets import load_iris

In [2]:
data  = fetch_california_housing(as_frame=True)
df_housing = data.frame

## üìä M√¥ t·∫£ c√°c c·ªôt d·ªØ li·ªáu

| T√™n c·ªôt              | Gi·∫£i th√≠ch |
|----------------------|------------|
| **MedInc**           | **Thu nh·∫≠p trung v·ªã** c·ªßa c∆∞ d√¢n trong khu v·ª±c (t√≠nh theo ƒë∆°n v·ªã: ch·ª•c ngh√¨n USD). V√≠ d·ª•: `8.3252` t∆∞∆°ng ƒë∆∞∆°ng v·ªõi kho·∫£ng `$83,252`. |
| **HouseAge**         | **Tu·ªïi trung b√¨nh c·ªßa c√°c cƒÉn nh√†** trong khu v·ª±c (t√≠nh b·∫±ng nƒÉm). |
| **AveRooms**         | **S·ªë ph√≤ng trung b√¨nh** m·ªói h·ªô d√¢n trong khu v·ª±c. |
| **AveBedrms**        | **S·ªë ph√≤ng ng·ªß trung b√¨nh** m·ªói h·ªô d√¢n. |
| **Population**       | **T·ªïng d√¢n s·ªë** trong khu v·ª±c. |
| **AveOccup**         | **S·ªë ng∆∞·ªùi trung b√¨nh** s·ªëng trong m·ªôt h·ªô. |
| **Latitude**         | **Vƒ© ƒë·ªô** c·ªßa khu v·ª±c (t·ªça ƒë·ªô ƒë·ªãa l√Ω). |
| **Longitude**        | **Kinh ƒë·ªô** c·ªßa khu v·ª±c (t·ªça ƒë·ªô ƒë·ªãa l√Ω). |
| **MedHouseVal**      | **Gi√° tr·ªã nh√† trung v·ªã** trong khu v·ª±c (t√≠nh theo ƒë∆°n v·ªã: trƒÉm ngh√¨n USD). |

In [3]:
print("First 5 rows of the dataset:")
print(df_housing.head())

First 5 rows of the dataset:
   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  MedHouseVal
0    -122.23        4.526
1    -122.22        3.585
2    -122.24        3.521
3    -122.25        3.413
4    -122.25        3.422

In [4]:
print("\nDataset Info:")
df_housing.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [10]:
data  = load_iris(as_frame=True)
df_iris = data.frame

In [12]:
print(df_iris.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0

In [21]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [19]:
df_iris['target'].unique()

array([0, 1, 2])

In [15]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB